.row button {
  color: #0099CC;
  background: transparent;
  border: 1px solid #0099CC;
  border-radius: 8px;
  width: 10vw;
}

.row button:hover:not([disabled]) {
  background-color: #008CBA;
  color: white;
  cursor: pointer;
}

.row button:disabled {
  background-color: lightgray;
  color: white;
}

.display {
  width: 80vw;
}

.display__header {
  font-size: 48px;
  margin: 16px;
  text-align: center;
}

.display hr {
  width: 60%;
}

.display__body {
  height: 520px;
  overflow-y: scroll;
}

.display__summary {
  font-size: 32px;
  margin: 16px;
}

.tabs-container {
  display: flex;
}

.tabs-container__tabs {

}

.tabs-container__tab {
  font-size: 28px;
  padding: 16px;
  border: 1px solid #0099CC;
  width: 200px;
  color: #0099CC;
  background: transparent;
  border-radius: 8px;

  &.selected {
    background-color: #008CBA;
    color: white;
    cursor: pointer;
  }
}

.tabs-container__tab:hover {
  background-color: #008CBA;
  color: white;
  cursor: pointer;
} // refactor into sharable generic hoverable button

.tabs-container__details {
  margin: 16px;
  font-size: 24px;
  flex-grow: 1;
}