<div class="index-display">
  <h2>2019 Vision</h2>
  <h1>Determined & Disciplined Doer</h1>

  <h2>Benchmarks</h2>
  <div>Health, Wealth, and F&F</div>

  <h4>2018 Vision</h4>
  <h3>Brave Trailblazer</h3>

</div>