<div class='pillar-container'>
  <div class='row'>
    <div class='hexagon content' data-content='Learning'></div>
  </div>
  <div class='row'>
    <div class='hexagon content' data-content='Winning'></div>
    <div class='hexagon content' data-content='Programming'></div>
  </div>
  <div class='row'>
    <div class='hexagon content' data-content='Family'></div>
  </div>
  <div class='row'>
    <div class='hexagon content' data-content='Gaming'></div>
    <div class='hexagon content' data-content='Exploring'></div>
  </div>
  <div class='row'>
    <div class='hexagon content' data-content='Contributing'></div>
    <div class='hexagon content' data-content='Contributing'></div>
  </div>
</div>